.head{
   display: flex;
   justify-content: center;
    height:70px;
    background-color: #0173e5; 
}
.headContainer{
    display:flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content:space-between;
    align-items: center;
    width:1200px
}
.headLogo{
    text-transform: uppercase;
    color:white;
    font-size: 20px;
}
.headLink{
    color:inherit;
}
.headNav{
    color: white;
    display: flex;
    
}
.headNav h3{
    margin-left: 10px;
    
}

